$greenBackground: #147507;
$yellowText: #c9d423;
$grayBorder: #777777;

*{
    box-sizing: border-box;
    margin: 0;
}

html,body{
    height: 100%;
}

header{
    width: 100%;
    background-color: $greenBackground;

    h1{
        text-align: center;
        padding: 0.2em;
        color: $yellowText;

    }

}

.bloqueBotones{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1em;
    
    input{
        border-radius: 1em;
        background-color: lightgreen;
    }
}

.bloquePeticiones{
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 2em;

    .navigator{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        
        .newTienda{

            &:active{
                animation-duration: 0.7s;
                animation-name: form;
                animation-timing-function: linear;
            }
        }
    }

    #form{
        display: flex;
        flex-direction: column;
        border: 2px solid $grayBorder;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.7em;
        gap:0.7em;
        border-radius: 1em;


        #sendInfo{
            align-self: flex-end;
        }

        .container{
            display: flex;
            flex-direction: column;
            gap: 0.7em;
            
    
            .title{
                font-size: 20px;
            }
    
            .dataContainer{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                .data{
                    flex-basis: 50%;
    
                    &:nth-child(1){
                        padding-right: 0.7em;
                    }
    
                    label{
                        display: block;
                    }
                    
                    input{
                        border-radius: 3px;
                        border: 1px solid black;
                        padding: 3px;
                        width: 100%;
                    }
    
                    .inputError{
                        border: 2px solid red;
                    }
                    
                    .inputCorrect{
                        border: 2px solid green;
                    }
    
                    .error{
                        color: red;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .mostradoTiendas{
        display: flex;
        flex-direction: column;
        gap: 1em;

        
        #bloqueTienda{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid $grayBorder;
            border-radius: 1em;
            box-shadow: 0px 3px $grayBorder;
        }

    }
}


.hidden{
    display: none !important;
}

.show{
    display: block;
}


@keyframes form {
    to{
       
    }
}

